Flask==1.1.2
Jinja2==2.11.2
MarkupSafe==1.1.1
PyInstaller==3.6
PyQt5==5.14.2
PyQt5-sip==12.7.2
PyQt5-stubs==5.14.2.0
PyQtWebEngine=5.14.0
PyYAML==5.3.1
Werkzeug=1.0.1
altgraph==0.17
click==7.1.1
future==0.18.2
itsdangerous==1.1.0
pefile==2019.4.18
pip==20.0.2
pywin32-ctypes==0.2.0
setuptools==46.1.3
